html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  background-color: #a36a0e;
}

a:visited,
a:active {
  color: white;
}

.no-line:hover {
  animation: pulsate 0.2s infinite alternate;
}

.no-line {
  text-decoration: none;
  background: transparent;
  transition: all 0.3s;
}

span {
  width: 10px;
}

h1,
span {
  text-align: center;
  font-family: optima;
  font-weight: 800;
  color: white;
}

.separator {
  padding: 30px;
}

.recipe {
  height: 50px;
  color: #fff; /* Assuming you want white text, adjust as needed */
  padding: 50px; /* Adjust padding as needed */
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}
#chicken {
  background-image: url("images/chicken-paprikash.jpg");
  background-size: cover; /* Ensures your image covers the div */
  background-position: center; /* Centers the image */
  color: #fff; /* Assuming you want white text, adjust as needed */
  padding: 50px; /* Adjust padding as needed */
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

#ziti {
  background-image: url("images/baked-ziti.jpg");
  background-size: cover; /* Ensures your image covers the div */
  background-position: center; /* Centers the image */
}

#bimibap {
  background-image: url("images/bibimbap.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes pulsate {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1); /* Slightly enlarge text */
    opacity: 0.7; /* Slightly fade text */
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
